ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.todoList {
    display: flex;
    flex-direction: column;
    width: 1000px;
    min-height: 100px;
    max-height: 500px;
    overflow-y: scroll;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    padding: 16px;
    gap: 8px;
}

.todoList__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 8px;
    border-bottom: 1px solid #dddddd;
    transition: background-color 0.3s ease;
    word-break: break-word;
}

.todoList__item__text {
    flex: 1;
    width: 80%;
    margin-right: 10px;
}

.todoList__item__text-done {
    text-decoration: line-through;
}

.todoList__item__checkbox {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.deleteButton {
    min-width: 15%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.todoList__item:last-child {
    border-bottom: none;
}

.todoList__item:hover {
    background-color: #f9f9f9;
}

.textInput {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 30%;
    box-sizing: border-box;
}

.addButton {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addButton:hover {
    background-color: #0056b3;
}

.addButton:active {
    background-color: #004085;
}
